body {
	font-family: Arial, sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
	background-color: #f4f4f4;
}

.container {
	text-align: center;
	background-color: white;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	width: 400px;
}

#passage {
	font-size: 18px;
	margin-bottom: 20px;
}

textarea {
	width: 90%;
	resize: none;
	height: 100px;
	padding: 10px;
	margin-bottom: 20px;
	border-radius: 4px;
	border: 2px solid #ddd;
	font-size: 1rem;
	font-family: "Courier New", Courier, monospace;
}

textarea:focus {
	outline: none;
	border-color: #007bff;
}

button {
	padding: 10px 20px;
	background-color: #007bff;
	color: white;
	font-size: 1rem;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

button:hover {
	background-color: #0056b3;
}

#timer,
#wpm {
	font-size: 18px;
	margin: 10px 0;
}
